#Mostly meta files...

Recess Race/Library/
Recess Race/Assembly-CSharp-Editor-vs.csproj
Recess Race/Assembly-CSharp-Editor.csproj
Recess Race/Assembly-CSharp-Editor.pidb
Recess Race/Assembly-CSharp-firstpass-vs.csproj
Recess Race/Assembly-CSharp-firstpass.csproj
Recess Race/Assembly-CSharp-firstpass.pidb
Recess Race/Assembly-CSharp-vs.csproj
Recess Race/Assembly-CSharp.csproj
Recess Race/Assembly-CSharp.pidb
Recess Race/Assembly-UnityScript-firstpass-vs.unityproj
Recess Race/Assembly-UnityScript-firstpass.unityproj
Recess Race/Assembly-UnityScript-firstpass.pidb
/Recess_Race_0_2/Library
/Recess_Race_0_2/Temp
Recess_Race_0_2.sln
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-vs.csproj
Assembly-UnityScript-firstpass.unityproj
Assembly-UnityScript-firstpass-vs.unityproj
Recess_Race_0_2.v12.suo
Recess_Race_0_2-csharp.sln
Recess_Race_0_2-csharp.v12.suo
Assembly-UnityScript-firstpass.pidb
Assembly-UnityScript-firstpass.pidb.meta
Assembly-CSharp.pidb
Assembly-CSharp.pidb.meta
Assembly-CSharp-Editor.pidb
Assembly-CSharp-Editor.pidb.meta
Assembly-CSharp-firstpass.pidb
Assembly-CSharp-firstpass.pidb.meta
/Recess_Race_0_2/Recess_Race_0_2.userprefs
Recess_Race_0_2.userprefs
/Recess_Race_0_2/Assets/Editor Default Resources.meta
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter.meta
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/Font Setter Skin.guiskin
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/Font Setter Skin.guiskin.meta
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUIAutoBox.png
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUIAutoBox.png.meta
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUIBlankBar.png
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUIBlankBar.png.meta
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUIButtonOff.png
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUIButtonOff.png.meta
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUIButtonOn.png
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUIButtonOn.png.meta
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUIGuideLine.png
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUIGuideLine.png.meta
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUILeftBar.png
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUILeftBar.png.meta
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUIOrient_00.png
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUIOrient_00.png.meta
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUIOrient_01.png
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUIOrient_01.png.meta
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUIOrient_02.png
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUIOrient_02.png.meta
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUIRightBar.png
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUIRightBar.png.meta
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUISpritePivot.png
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUISpritePivot.png.meta
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUISpritePivotActive.png
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUISpritePivotActive.png.meta
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUISquare.png
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUISquare.png.meta
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUISquareActive.png
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUISquareActive.png.meta
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUISquareActiveHover.png
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUISquareActiveHover.png.meta
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUISquareBorder.png
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUISquareBorder.png.meta
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUISquareHover.png
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUISquareHover.png.meta
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUITexBorder.png
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUITexBorder.png.meta
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUITextfield.png
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUITextfield.png.meta
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUIToggleOff.png
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUIToggleOff.png.meta
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUIToggleOn.png
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUIToggleOn.png.meta
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUIWhite.png
/Recess_Race_0_2/Assets/Editor Default Resources/FontSetter/GUIWhite.png.meta
/Recess_Race_0_2/Assets/Editor/FontEditorCs.cs
/Recess_Race_0_2/Assets/Editor/FontEditorCs.cs.meta
/Recess_Race_0_2/Assets/Editor/FontEditorJs.js_
/Recess_Race_0_2/Assets/Editor/FontEditorJs.js_.meta
/Recess_Race_0_2/Assets/Example Font.meta
/Recess_Race_0_2/Assets/Example Font/Example Font Map.png
/Recess_Race_0_2/Assets/Example Font/Example Font Map.png.meta
/Recess_Race_0_2/Assets/Example Font/Example Font Material.mat
/Recess_Race_0_2/Assets/Example Font/Example Font Material.mat.meta
/Recess_Race_0_2/Assets/Example Font/Example Font.fontsettings
/Recess_Race_0_2/Assets/Example Font/Example Font.fontsettings.meta
/Recess_Race_0_2/Assets/Example Font/Packed Example Font Material.mat
/Recess_Race_0_2/Assets/Example Font/Packed Example Font Material.mat.meta
/Recess_Race_0_2/Assets/Example Font/Packed Example Font PackedMap.png
/Recess_Race_0_2/Assets/Example Font/Packed Example Font PackedMap.png.meta
/Recess_Race_0_2/Assets/Example Font/Packed Example Font.fontsettings
/Recess_Race_0_2/Assets/Example Font/Packed Example Font.fontsettings.meta
/Recess_Race_0_2/Assets/plugins.meta
/Recess_Race_0_2/Assets/plugins/Example of TexturedGUILabel Usage.js_
/Recess_Race_0_2/Assets/plugins/Example of TexturedGUILabel Usage.js_.meta
/Recess_Race_0_2/Assets/plugins/ExampleOfTexturedGUILabelUsage.cs
/Recess_Race_0_2/Assets/plugins/ExampleOfTexturedGUILabelUsage.cs.meta
/Recess_Race_0_2/Assets/plugins/TexturedGUILabel.cs
/Recess_Race_0_2/Assets/plugins/TexturedGUILabel.cs.meta
/Recess_Race_0_2/Assets/plugins/TexturedGUILabel.js_
/Recess_Race_0_2/Assets/plugins/TexturedGUILabel.js_.meta
/Recess_Race_0_2/Assembly-UnityScript-vs.unityproj
/Recess_Race_0_2/Assembly-UnityScript.unityproj
/Recess_Race_0_2/Assets/Assembly-UnityScript.pidb
/Recess_Race_0_2/Assets/Sprite Test.meta
/Recess_Race_0_2/Assets/Sprite Test/AnimatedSprite.cs
/Recess_Race_0_2/Assets/Sprite Test/AnimatedSprite.cs.meta
/Recess_Race_0_2/Assets/Sprite Test/AnimatedSprite_test.cs
/Recess_Race_0_2/Assets/Sprite Test/AnimatedSprite_test.cs.meta
/Recess_Race_0_2/Assets/Sprite Test/AnimatedSpritejs.js
/Recess_Race_0_2/Assets/Sprite Test/AnimatedSpritejs.js.meta
/Recess_Race_0_2/Assets/Sprite Test/AnimatedSpritejs_test.js
/Recess_Race_0_2/Assets/Sprite Test/AnimatedSpritejs_test.js.meta
/Recess_Race_0_2/Assets/Sprite Test/Example Scene Assets.meta
/Recess_Race_0_2/Assets/Sprite Test/Example Scene Assets/CameraFollow.js
/Recess_Race_0_2/Assets/Sprite Test/Example Scene Assets/CameraFollow.js.meta
/Recess_Race_0_2/Assets/Sprite Test/Example Scene Assets/Floor.mat
/Recess_Race_0_2/Assets/Sprite Test/Example Scene Assets/Floor.mat.meta
/Recess_Race_0_2/Assets/Sprite Test/Example Scene Assets/Floor.png
/Recess_Race_0_2/Assets/Sprite Test/Example Scene Assets/Floor.png.meta
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite.meta
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Init Sprite Map Pivots.png
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Init Sprite Map Pivots.png.meta
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Init Sprite Map.png
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Init Sprite Map.png.meta
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Init Sprite Material.mat
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Init Sprite Material.mat.meta
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Init Sprite.prefab
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Init Sprite.prefab.meta
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Setup Crouch.fontsettings
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Setup Crouch.fontsettings.meta
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Setup Fall.fontsettings
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Setup Fall.fontsettings.meta
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Setup Idle.fontsettings
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Setup Idle.fontsettings.meta
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Setup Jump.fontsettings
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Setup Jump.fontsettings.meta
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Setup Land.fontsettings
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Setup Land.fontsettings.meta
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Setup Run.fontsettings
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Setup Run.fontsettings.meta
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Setup Stop.fontsettings
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Setup Stop.fontsettings.meta
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Setup Turn.fontsettings
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Setup Turn.fontsettings.meta
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Setup UnCrouch.fontsettings
/Recess_Race_0_2/Assets/Sprite Test/Setup Sprite/Setup UnCrouch.fontsettings.meta
/Recess_Race_0_2/Assets/Sprite Test/Sprite Test.unity
/Recess_Race_0_2/Assets/Sprite Test/Sprite Test.unity.meta
/Recess_Race_0_2/Assets/Sprite Test/Sprite.meta
/Recess_Race_0_2/Assets/Sprite Test/Sprite/Sprite Material.mat
/Recess_Race_0_2/Assets/Sprite Test/Sprite/Sprite Material.mat.meta
/Recess_Race_0_2/Assets/Sprite Test/Sprite/Sprite PackedMap.png
/Recess_Race_0_2/Assets/Sprite Test/Sprite/Sprite PackedMap.png.meta
/Recess_Race_0_2/Assets/Sprite Test/Sprite/Sprite.prefab
/Recess_Race_0_2/Assets/Sprite Test/Sprite/Sprite.prefab.meta
/Recess_Race_0_2/Assets/Sprite Test/Sprite/anim Crouch.fontsettings
/Recess_Race_0_2/Assets/Sprite Test/Sprite/anim Crouch.fontsettings.meta
/Recess_Race_0_2/Assets/Sprite Test/Sprite/anim Fall.fontsettings
/Recess_Race_0_2/Assets/Sprite Test/Sprite/anim Fall.fontsettings.meta
/Recess_Race_0_2/Assets/Sprite Test/Sprite/anim Idle.fontsettings
/Recess_Race_0_2/Assets/Sprite Test/Sprite/anim Idle.fontsettings.meta
/Recess_Race_0_2/Assets/Sprite Test/Sprite/anim Jump.fontsettings
/Recess_Race_0_2/Assets/Sprite Test/Sprite/anim Jump.fontsettings.meta
/Recess_Race_0_2/Assets/Sprite Test/Sprite/anim Land.fontsettings
/Recess_Race_0_2/Assets/Sprite Test/Sprite/anim Land.fontsettings.meta
/Recess_Race_0_2/Assets/Sprite Test/Sprite/anim Run.fontsettings
/Recess_Race_0_2/Assets/Sprite Test/Sprite/anim Run.fontsettings.meta
/Recess_Race_0_2/Assets/Sprite Test/Sprite/anim Stop.fontsettings
/Recess_Race_0_2/Assets/Sprite Test/Sprite/anim Stop.fontsettings.meta
/Recess_Race_0_2/Assets/Sprite Test/Sprite/anim Turn.fontsettings
/Recess_Race_0_2/Assets/Sprite Test/Sprite/anim Turn.fontsettings.meta
/Recess_Race_0_2/Assets/Sprite Test/Sprite/anim UnCrouch.fontsettings
/Recess_Race_0_2/Assets/Sprite Test/Sprite/anim UnCrouch.fontsettings.meta
/Recess_Race_0_2/Assets/FontSetterDocs.pdf
/Recess_Race_0_2/Assets/FontSetterDocs.pdf.meta
